
.icon-arrows-ccw:before { content: '\e800'; } /* '' */
.icon-down-open-big:before { content: '\e801'; } /* '' */
.icon-left-open-big:before { content: '\e802'; } /* '' */
.icon-right-open-big:before { content: '\e803'; } /* '' */
.icon-up-open-big:before { content: '\e804'; } /* '' */
.icon-forward:before { content: '\e805'; } /* '' */
.icon-download:before { content: '\e806'; } /* '' */
.icon-reply:before { content: '\f112'; } /* '' */